html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding-bottom: 5em;
}

.container-medium {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    margin-bottom: 0;
}

.slider-title {
    margin-top: 0;
    padding-top: 0;
}

.spacer {
    padding-bottom: 3em;
    margin-bottom: 3em;
}

.spacer-medium {
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.spacer-medium-top {
    padding-top: 2em;
    margin-top: 2em;
}

.spacer-small {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.hidden {
    display: none;
}

.no-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.spell-rating {
    color: darkgoldenrod;
    margin-left: 1rem;
}

.withstand-rating {
    font-size: 120%;
    margin-bottom: -1em;
}

.spell-body {
    font-size: 140%;
}

.spell-reaches {
    font-size: 110%;
    margin-top: 0;
    margin-bottom: 0;
}

.controls-actual {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tabs .tab a {
    color: rgb(66, 165, 245);
}

.tabs .tab a:focus.active {
    color: rgb(66, 165, 245);
    background-color: rgb(187, 222, 251);
}

.tabs .indicator {
    background-color: rgb(66, 165, 245);
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: rgb(66, 165, 245);
}
